.comments {
    & > h1 {
        font-family: $title;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    article {
        margin-bottom: 20px;

        p {
            font-family: $text;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #ebebeb;
        }

        header {
            height: 50px;
            width: 100%;

            img.avatar, div.stars { float: left; }
            img.avatar {
                width: 50px;
                height: 50px;
            }

            div.stars {
                position: relative;
                height: 20px;
                width: 100px;
                margin-top: 5px;
                margin-left: 7px;

                h2, h3, img {
                    position: absolute;
                    left: 0; top: 0;
                }

                h2 {
                    height: 20px;
                    background: #d4ae65;
                }

                h3 {
                    height: 20px;
                    width: 100px;
                    background: #d0d0d0;
                }
            }

            h1, h2 {
                width: calc(100% - 50px);
                padding-left: 10px;
                padding-top: 4px;
                float: left;
                font-family: $text;
                font-size: 1.2rem;

                span {
                    opacity: 0.5;
                    font-family: $text-light;
                }
            }
        }
    }
}
