#darkness {
	width: 100%;
	height: 100vh;
	z-index: 100000;
	position: fixed;
	top: 0; left: 0;
	background: rgba(0, 0, 0, .8);

	.hidden { display: none; }

	.login__section,
	.register__section {
		width: 500px;
		min-height: 200px;
		margin: 100px auto;
		background: white;

		.logging_in {
			padding-top: 50px;
			text-align: center;
			font-family: $text;
		}

		form {
			padding: 30px;
			position: relative;

			p {
				font-family: $text;
				padding-top: 12px;
				text-align: center;
				color: red;
			}

			a {
				text-align: center;
				width: 100%;
				color: $link-blue;
				font-family: $text;
				display: block;
				padding: 10px;
			}

			h1 {
				font-size: 1.5rem;
				text-align: center;
				font-family: $title;
			}

			h2 {
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 1.5rem;
				opacity: .2;
			}

			h2:hover {
				opacity: .8;
				cursor: pointer;
			}

			input {
				width: 100%;
				font-size: 1.1rem;
				font-family: $text-light;
				padding: 10px;
	  			border: 0;
	  			outline-color: transparent;
	  			outline-style: none;
				border-bottom: 5px solid transparent;
				background: #f3f3f3;

				margin-top: 20px;
			}

			input:focus, input:hover {
				outline-color: transparent;
	  			outline-style: none;
				border-bottom: 5px solid #c1b9ac;

				transition: all 0.1s;
			}

			input[type="submit"] {
				font-family: $title;
				cursor: pointer;
				background: #ebebeb;
			}
		}
	}
}

#darkness.hidden { display: none; }
