.upload__preview {
	width: 50%;
	float: left;
	padding-left: 50px;
	padding-top: 10px;
	text-align: center;

	img {
		max-width: 100%;
		max-height: 68.5vh;
	}
}

.collection_part {
	margin-top: 20px;
	overflow: auto;

	label {
		display: block;
		float: left;
		width: 150px;
		font-family: $text;
		padding: 12px 0;
	}

	input[type="text"] {
		float: left;
		width: calc(100% - 150px);
	}

	input[type="submit"] {
		float: left;
		width: 50%;
		cursor: pointer;
	}

	input[type="checkbox"] {
		margin: 12px;
		width: auto;
	}
}

.tags {
	width: 100%;
	padding-top: 15px;

	.tags__tag {
		font-family: $text;
		float: left;
		padding: 10px;
		font-size: 1.1rem;
		margin: 0 10px 10px 0;
		background: #f7f7f7;
	}

	.tags__tag:hover {
		background: #ebebeb;
		cursor: pointer;
	}
}

.tags__holder {
	position: relative;

	#tags__placeholder {
		position: absolute;
		width: 100%;
		height: 44px;
		z-index: -100;
		top: 0;
		background: #f7f7f7;

		p {
			font-family: $text-light;
			display: block;
			padding: 12px 10px;
			font-size: 1.1rem;
			width: 100%;
			height: 44px;
			color: #adadad;
		}
	}
}

input, textarea {
	width: 100%;
	font-size: 1.1rem;
	font-family: $text-light;
	padding: 10px;
	border: 0;
	outline-color: transparent;
	outline-style: none;
	border-bottom: 5px solid white;
	background: #f7f7f7;
}

input:focus, input:hover,
textarea:focus, textarea:hover {
	outline-color: transparent;
	outline-style: none;
	border-bottom: 5px solid #c1b9ac;

	transition: all 0.1s;
}

form {
	section {
		margin-bottom: 20px;
	}
}
