header {
	background: $brown;

	@import 'nav';

	.header {
		width: 100%;
		height: 410px;
		background-image: url('../header.jpg');
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		/*animation-name: header-loaded;*/
        animation-duration: 3s;
        animation-fill-mode: forwards;

		h1 {
			color: white;
			font-size: 3rem;
		    font-family: $text-light;
		    text-align: center;
		    letter-spacing: 0.7rem;
		    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
		}
	}
}
