main {
    width: 1140px;
    min-height: 750px;
    margin: 30px auto;
    overflow: auto;

    nav {
        width: 232px;
        float: left;
        transition: all 250ms;
        margin-right: 20px;

        #tags, #_tags {
            margin-bottom: 10px;
        }

        h2 {
            padding-bottom: 20px;
            font-size: 1.2rem;
            font-family: $title;
        }

        ul {
            li, input { font-family: $text; }

            li {
                margin-bottom: 10px;
                overflow: auto;

                label {
                    width: calc(100% - 21px);
                    overflow: hidden;
                    text-decoration: none;
                    padding: 10px;
                    font-size: 1rem;
                    cursor: pointer; 
                    transition: all 170ms ease-in-out;
                    float: left;
                }

                span {
                    border-width: 36px;
                    float: left;
                    width: 0; height: 0;
                    display: block;
                    border-top: 18px solid transparent;
                    border-bottom: 18px solid transparent;
                    border-left: 21px solid transparent;
                    transition: border 170ms ease-in-out;
                }

                input[type="checkbox"] { display: none; }
                input[type="checkbox"] + label { display: block; }

                input[type="checkbox"]:checked {
                    & + label {
                        background: #f5f0e8;

                        & + span {
                            border-left: 20px solid #f5f0e8;
                        }
                    }
                }
            }
        }
    }

    aside, .user_view_uploads {
        width: 888px;
        float: right;

        h1 {
            padding: 10px 0 20px;
            font-size: 1.2rem;
            font-family: $title;
        }

        h2 {
            padding: 0;
            font-size: 1rem;
            font-family: $text;
        }

        .loading {
            width: 20%;
            margin: 0 40%;
        }

        article {
            width: 276px;
            height: 276px;
            overflow: hidden;
            margin: 0 20px 20px 0;
            float: left;
            position: relative;

            .image {
                width: 276px;
                height: 276px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;

                opacity: .8;
                animation-name: loaded;
                animation-duration: 0.4s;
                animation-fill-mode: forwards;
            }

            h2 {
                color: black;
                position: absolute;
                bottom: 20px;     
                right: 20px;
                opacity: 0.5;
                padding: 0 5px;

                > span {
                    /*display: none;*/
                    position: absolute;
                    bottom: 0;
                    right: 31px;
                    max-width: 0;
                    overflow: hidden;
                    height: 35px;
                    text-align: right;
                    background: $brown;
                    padding: 10px 0;
                    transition: all 0.3s;
                }

                &:hover {
                    opacity: 1;
                    background: $brown;

                    span {
                        display: block;
                        max-width: 100px;
                        padding: 10px;
                    }
                }
            }

            .large {
                position: absolute;
                bottom: 10px;
                left: 10px;
                opacity: 0;
                z-index: 100;

                transition: all 0.4s;
                color: white;
                text-decoration: none;

                cursor: pointer;
                display: block;
                padding: 5px;
                border: 2px solid #c1b9ac;
                font-family: $text;
                background: rgba(0, 0, 0, 0.5);
            }

            .large:hover {
                opacity: 1;
                color: black;
                background: #c1b9ac;
            }
        }

        article:hover {
            .image {
                opacity: 1;
                animation-name: zoom-little;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
            }
            
            .large { opacity: 1; }
        }
    }
}
  
.uploads_tags aside {
    width: 1140px;
    float: none;

    article {
        width: 270px;
        height: 270px;
    }

    article:nth-of-type(4n) {
        margin-right: 0;
    }
}
