nav {
    background: $brown;
    display: flex;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    height: 75px;

    h2 {
        font-family: $title;
        font-size: 1.5rem;
        color: white;
        letter-spacing: 0.8rem;

        a {
            color: white;
            text-decoration: none;
        }
    }

    ul {
        margin-left: auto;
        position: relative;

        & > li {
            float: left;
            display: flex;
            height: 45px;
            margin-left: 10px;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                font-family: $text;
                padding: 12px;
                transition: all 170ms ease-in-out;
                cursor: pointer;
                display: block;
                /*line-height: 30px;*/
            }

            .avatar {
                width: 40px;
                height: 40px;
                margin-left: 5px;
                vertical-align: middle;
                margin-top: -10px;
                margin-right: -10px;
                float: right;
            }

            a:hover { color: black; }
        }

        li.break { width: 30px; }

        a.button__login,
        a.button__logout {
            border: 3px solid white;
            cursor: pointer;
            padding: 8px 20px 12px;
        }

        a.button__login:hover,
        a.button__logout:hover {
            background: black;
            border: 3px solid black;
            color: white;
        }
    }

    ul > ul.dropdown {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 45px;
        width: 100%;
        transition: all 0.3s;
        background: $dark-brown;

        li {
            width: 100%;

            a {
                width: 100%;
                text-align: center;
            }
        }
    }

    li.dropdown {
        position: relative;

        .avatar { margin-right: -5px; }

        a {
            span {
                display: block;
                padding: 5px;
                color: black;
                background: lightcoral;
                width: auto;
                min-width: 29px;
                text-align: center;
                position: absolute;
                top: -10px;
                right: -12px;
                border-radius: 50%;
                z-index: 1000;
            }
        }

        ul {
            position: absolute;
            max-height: 0;
            overflow: hidden;
            background: $dark-brown;
            transition: all 0.3s;

            li {
                margin: 0;
                width: 100%;
                text-align: center;

                a {
                    width: 100%;
                }
            }
        }
    }

    li.dropdown:hover {
        ul {
            max-height: 200px;
        }
    }
}
