div.upload {
	width: 50%;
	float: left;

	section.upload__part {
		label {
			width: 100%;
			font-size: 1.1rem;
			font-family: $title;
			padding: 10px;
			padding-left: 0;
			display: block;
		}

		input, textarea {
			width: 100%;
			font-size: 1.1rem;
			font-family: $text-light;
			padding: 10px;
  			border: 0;
  			outline-color: transparent;
  			outline-style: none;
			border-bottom: 5px solid transparent;
			background: #f7f7f7;
		}

		textarea {
			min-height: 250px;
			max-height: 250px;
			min-width: 100%;
			max-width: 100%;

			resize: none;
		}

		input:focus, input:hover,
		textarea:focus, textarea:hover {
			outline-color: transparent;
  			outline-style: none;
			border-bottom: 5px solid #c1b9ac;

			transition: all 0.1s;
		}

		input[type="submit"] {
			font-family: $title;
			cursor: pointer;
			background: #ebebeb;
		}

		input[type="checkbox"] {
			width: 15px;
		}

		input[type="checkbox"] + label {
			font-family: $text;
			float: right;
			width: calc(100% - 30px);
			padding-left: 0;
			padding-top: 1px;
		}
	}
}
