@font-face {
    font-family: GillSans;
    src: url(../fonts/GillSans.ttf);
}

@font-face {
    font-family: GillSansBold;
    src: url(../fonts/GillSansBold.ttf);
}

@font-face {
    font-family: GillSansLight;
    src: url(../fonts/GillSansLight.ttf);
}
