// Fonts
$title: 'GillSansBold', Arial, sans-serif;
$text: 'GillSans', Arial, sans-serif;
$text-light: 'GillSansLight', Arial, sans-serif;

// Colors
$brown: #c1b9ac;
$light-brown: #f5f0e8;
$dark-brown: #ada598;
$link-blue: #7899b7;
