@keyframes loaded {
    0% {
        width: 316px;
        height: 316px;
        margin-top: -20px;
        margin-left: -20px;
        opacity: 1;
    }
    50% {
        width: 262px;
        height: 262px;
        margin-top: 4px;
        margin-left: 4px;
    }
    100% {
        width: 276px;
        height: 276px;
        opacity: .8;
    }
}
@keyframes zoom-little {
	0% {
		opacity: .8;
	}
    100% {
    	width: 316px;
    	height: 316px;
    	margin-top: -20px;
    	margin-left: -20px;
    	opacity: 1;
    }
}
@keyframes header-loaded {
    0% {
        margin-top: -410px;
    }
    100% {
        margin-top: 0px;
    }
}
