.spotlight {
    width: 100%;
    height: 100vh;
    padding: 2vh 10%;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    z-index: 1000;
    top: 0; left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 96vh;
        max-width: 100%;
    }

    span {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
    }
}
