<template>
    <div>
        <div id="darkness" v-if="loginModalOpen || registerModalOpen">
            <div class="login__section" v-if="loginModalOpen">
                <form method="post" v-on:submit="login" v-if="!loggingIn">
                    <h2 class="close__darkness" @click="loginModalOpen = false"><icon name="times" scale="2"></icon></h2>
                    <h1>Welcome back to Mobileart!</h1>
                    <p v-if="loginError != ''">{{ loginError }}</p>
                    <input v-model="loginForms[0]" required id="__username" placeholder="Username" type="text" name="__username" required>
                    <input v-model="loginForms[1]" required id="__password" placeholder="Password" type="password" name="__password" required>
                    <input type="submit">
                </form>
                <p class="logging_in" v-if="loggingIn">
                    Logging you in...<br>
                    <img src="/src/assets/loading.gif">
                </p>
            </div>

            <div class="register__section" v-if="registerModalOpen">
                <form action="api/post/register.php" v-on:submit="register" v-if="!loggingIn">
                    <h2 class="close__darkness" @click="registerModalOpen = false"><icon name="times" scale="2"></icon></h2>
                    <h1>Register to Mobileart!</h1>
                    <p v-if="registerError != ''">{{ registerError }}</p>
                    <input v-model="registerForms[0]" required id="__username" placeholder="Username" type="text" name="__username">
                    <input v-model="registerForms[1]" required id="__email" placeholder="E-Mail" type="text" name="__email">
                    <input v-model="registerForms[2]" required id="__password" placeholder="Password" type="password" name="__password">
                    <input v-model="registerForms[3]" required id="__confirmpassword" placeholder="Confirm password" type="password" name="__confirmpassword">
                    <input type="submit">
                </form>
                <p class="logging_in" v-if="loggingIn">
                    Making your account...<br>
                    <img src="/src/assets/loading.gif">
                </p>
            </div>
        </div>

        <header>
            <nav>
                <h2><a href="#">MoustacheArt</a></h2>
                <ul class="navigation__top">
                    <li><a @click="registerModalOpen = true" v-if="!loggedIn" class="button__register">Register</a></li>
                    <li><a @click="loginModalOpen = true" v-if="!loggedIn" class="button__login">Login</a></li>
                    <li class="dropdown">
                        <router-link v-if="loggedIn" :to="'/user/' + user.name.toLowerCase()">
                            {{ user.name }}
                            <avatar size="40" float="right" :image="user.avatar"></avatar>
                            <span v-if="notifications != 0" class="notifications">{{ notifications }}</span>
                        </router-link>
                        <ul class="dropdown">
                            <router-link v-if="loggedIn" :to="'/user/' + user.name.toLowerCase()">
                                {{ user.name }} 
                                <avatar size="40" float="right" :image="user.avatar"></avatar>
                            </router-link>
                            <li v-if="notifications != 0"><router-link to="/notifications">Notifications</router-link></li>
                            <li><router-link to="/upload">Upload</router-link></li>
                            <li><a @click="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="header">
                <h1>Welcome to <span style="font-family: 'GillSansBold'">MoustacheArt</span></h1>
            </div>
        </header>

        <router-view></router-view>

        <footer></footer>
    </div>  
</template>

<script>
    import config from './config.js';
    import Avatar from './components/tags/Avatar.vue';

    export default {
        name: 'app',
        components: { Avatar },
        data () {
            return {
                apiurl: window.apiurl,
                loggedIn: false,
                loggingIn: false,
                loginModalOpen: false,
                registerModalOpen: false,
                loginError: '',
                registerError: '',
                loginForms: ['', ''],
                registerForms: ['', '', '', ''],
                user: (localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user'))[0] : undefined,
                notifications: 0,
                timer: ''
            }
        },
        mounted() {
            if (localStorage.getItem('user'))
            {
                this.loggedIn = true;
                this.updateNotifications();
                this.timer = setInterval(this.updateNotifications, 5000);
            }
        },
        watch: {
            user() {
                location.reload();
            }
        },
        methods: {
            updateNotifications() {
                var __user = JSON.parse(localStorage.getItem('user'))[0];
                axios.get(config.apiurl + '/api/notifications/user/' + __user.id).then(response => this.notifications = response.data);
            },
            logout() {
                localStorage.removeItem('user');
                location.reload();
            },
            login(e) {
                e.preventDefault();

                // Do a loading thing
                this.loggingIn = true;
                this.loginError = '';

                // Do a post
                var params = new FormData();
                var username = this.loginForms[0];
                var password = this.loginForms[1];
                var that = this;

                params.append('username', username);
                params.append('password', password);
                axios.post(config.apiurl + '/api/users/login', params)
                    .then(function (response)
                    {
                        if (response.data[0] == 200)
                        {
                            localStorage.setItem('user', JSON.stringify(response.data[1]));
                            that.loggedIn = true;
                            that.user = username;
                        }
                        else
                        {
                            that.loginError = response.data;
                            that.loggingIn = false;
                        }
                    }
                );
            },
            register(e) {
                e.preventDefault();

                // Do a loading thing
                this.loggingIn = true;
                this.loginError = '';

                // Do a post
                var params = new FormData();
                var username = this.registerForms[0];
                var email = this.registerForms[1];
                var password = this.registerForms[2];
                var password_2 = this.registerForms[3];
                var that = this;

                params.append('username', username);
                params.append('password', password);
                params.append('password_2', password_2);
                params.append('email', email);
                axios.post(config.apiurl + '/api/users/register', params)
                    .then(function (response)
                    {
                        if (response.data[0] == 200)
                        {
                            console.log(response.data);
                            localStorage.setItem('user', JSON.stringify(response.data[1]));
                            that.loggedIn = true;
                            that.user = username;
                        }
                        else
                        {
                            that.registerError = response.data;
                            that.loggingIn = false;
                        }
                    }
                );
            }
        },
        beforeDestroy() {
            clearIntervall(this.timer);
        }
    }
</script>

<style type="text/css" src="./assets/css/common.css"></style>
