<template id="view">
    <main class="collection">
        Collection
    </main>
</template>

<script>
    import Gallery from './../tags/Gallery.vue';
    import config from './../../config.js';

    export default {
        name: 'collection',
        components: { Gallery },
        data () {
            return {

            }
        },
        watch: {
           
        },
        methods: {

        },
        mounted() {
            
        }
    }
</script>
