<template id="home">
    <main>
        <nav>
            <h2>Search</h2>
            <input id="tags" placeholder="Search" v-model="searchTag" type="text">

            <input id="_tags" placeholder="Tags (seperate with spaces)" v-model="tempTagList" type="text" @keyup="addTag">
            <ul class="tags__list" v-if="tagList.length > 0">
                <li v-for="tag in tagList.split(' ')" v-if="tag != ''" :key="tag.id">
                    <input type="checkbox" :id="'tag_' + tag" :value="tag.toLowerCase()" v-model="searchingTags">
                    <label :for="'tag_' + tag">#{{ tag.toLowerCase() }}</label>
                    <span class="arrow"></span>
                </li>
            </ul>
        </nav>

        <aside>
            <img src="src/assets/loading.gif" class="loading" v-if="gallery.length == 0">
            <div v-if="searchTag != ''">
                <h1>Searching for '{{ searchTag }}':</h1>
            </div>

            <h2 v-if="filteredGallery.length == 0 && gallery.length > 0">Sorry, we have nothing to show you.</h2>

            <gallery v-for="item in filteredGallery" :item="item" :key="item.id"></gallery>

            <button @click="pageTotal += 9" v-if="pageTotal < gallerySize">View more</button>
        </aside>
    </main>
</template>

<script>
    import Gallery from './../tags/Gallery.vue';
    import config from './../../config.js';

    export default {
        name: 'home',
        components: { Gallery },
        data () {
            return {
                searchTag: '',
                tagList: '',
                tempTagList: '',
                searchingTags: [],
                gallery: [],
                tags: [],
                viewing: [],
                pageTotal: 9,
                gallerySize: 0,
            }
        },
        mounted() {
            axios.get(config.apiurl + '/api/uploads').then(response => this.gallery = response.data);
            // var that = this;
            // config.onscroll = function() {
            //     if ((config.innerHeight + config.scrollY) >= document.body.offsetHeight) {
            //         that.pageTotal += 9;
            //     }
            // };
        },
        watch: {

        },
        methods: {
            openSpotlight(item) {
                this.viewing = item;
            },
            addTag() {
                // Check for spaces
                if (this.tempTagList.indexOf(' ') != -1)
                {
                    this.tagList += ' ' + this.tempTagList.split(' ')[0];
                    this.tempTagList = '';
                }
            },
            filterTags(_gallery, i) {
                // Filter using the clicked tags
                if (this.searchingTags.length > 0)
                {
                    var ok = true;
                    var hits = this.searchingTags.length; // How many hits there need to be to be OK
                    // Loop the images tags
                    for (var it = 0; it < _gallery[i].tags.length; it++)
                    {
                        // Loop the searched tags
                        for (var st = 0; st < this.searchingTags.length; st++)
                        {
                            // Look for hits
                            if (_gallery[i].tags[it].name == this.searchingTags[st]) { hits--; }
                        }
                   }

                   if (hits == 0) { return true; }
                   return false;
                }
                else
                {
                    return true;
                }
            },
            filterSearchString(gallery, i) {
                // Filter using the searchstring
                if (this.searchTag != '')
                {
                    // Make full strings from the items (loop)
                    // TODO: Do this in the backend
                    var searchString = gallery[i]['name'] + ' ' + gallery[i]['description'] + ' ' + gallery[i]['artist'] + ' ';
                    for (var t = 0; t < gallery[i].tags.length; t++) { searchString += gallery[i].tags[t].name + ' '; }

                    // Check for similarities
                    if (searchString.toLowerCase().indexOf(this.searchTag.toLowerCase()) != -1)
                    {
                        return true;
                    }

                    return false;
                }
                else
                {
                    return true;
                }
            }
        },
        computed: {
            filteredGallery() {
                var gallery = this.gallery;
                var newGallery = [];
                var count = 0;
                this.gallerySize = 0;
                var _user = (localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user'))[0] : ' ';

                // Loop
                for (var i = 0; i < gallery.length; i++)
                {
                    // Check for private images or is the logged in user the uploader?
                    if (gallery[i].private == 0 || gallery[i].uploader == _user.name)
                    {
                        // Check for tags
                        if (this.filterTags(gallery, i) && this.filterSearchString(gallery, i))
                        {
                            if (count < this.pageTotal)
                            {
                                newGallery.push(gallery[i]);
                                count++;                               
                            }

                            this.gallerySize++;
                        }
                    }
                }

                return newGallery;
            }
        }
    }
</script>
