<template id="view">
    <main class="notifications">
        <section>
            <h1>Notifications</h1>
        </section>
        <nav>
            <h2 :class="{ active: showing == 'uploads' }" @click="showing = 'uploads'" v-if="notifications_uploads_count > 0">Uploads - {{ notifications_uploads_count }}</h2>
            <h2 :class="{ active: showing == 'follows' }" @click="showing = 'follows'" v-if="notifications_follows_count > 0">Follows - {{ notifications_follows_count }}</h2>
            <h2 :class="{ active: showing == 'collections' }" @click="showing = 'collections'" v-if="notifications_collections_count > 0">Collections - {{ notifications_collections_count }}</h2>
        </nav>
        <aside>
            <div v-if="showing == 'uploads' || showing =='all'">
                <h1 v-if="notifications_uploads_count > 0">Uploads</h1>
                <ul v-if="notifications_uploads_count > 0">
                    <li v-for="notification in notifications_uploads" v-if="!notification.read">
                         <router-link :to="'/view/' + notification.link">
                            <div class="small" :style="'background-image: url(' + apiurl + '/gallery/' + notification.image + ')'"></div>
                            <h3>{{ notification.content }}</h3>
                            <p>{{ notification.created_at }}</p>
                        </router-link>
                        <span @click="deleteItem(notification)"><icon name="times" scale="2.5"></icon></span>
                    </li>
                </ul>
            </div>

            <div v-if="showing == 'follows' || showing =='all'">
                <h1 v-if="notifications_follows_count > 0">Follows</h1>
                <ul v-if="notifications_follows_count > 0">
                    <li v-for="notification in notifications_follows" v-if="!notification.read">
                         <router-link :to="'/user/' + notification.link">
                            <avatar class="small" size="80" float="left" :image="notification.image"></avatar>
                            <h3>{{ notification.content }}</h3>
                            <p>{{ notification.created_at }}</p>
                        </router-link>
                        <span @click="deleteItem(notification)"><icon name="times" scale="2.5"></icon></span>
                    </li>
                </ul> 
            </div>

            <div v-if="showing == 'collections' || showing =='all'">
                <h1 v-if="notifications_collections_count > 0">Collections</h1>
                <ul v-if="notifications_collections_count > 0">
                    <li v-for="notification in notifications_collections" v-if="!notification.read">
                         <router-link :to="'/user/' + notification.link">
                            <avatar class="small" size="80" float="left" :image="notification.image"></avatar>
                            <h3>{{ notification.content }}</h3>
                            <p>{{ notification.created_at }}</p>
                        </router-link>
                        <span @click="deleteItem(notification)"><icon name="times" scale="2.5"></icon></span>
                    </li>
                </ul> 
            </div>
        </aside>
    </main>
</template>

<script>
    import Avatar from './../tags/Avatar.vue';
    import config from './../../config.js';

    export default {
        name: 'notifications',
        components: { Avatar },
        data () {
            return {
                notifications: [],

                notifications_uploads: [],
                notifications_follows: [],
                notifications_collections: [],

                notifications_uploads_count: 0,
                notifications_follows_count: 0,
                notifications_collections_count: 0,

                showing: 'all',
                apiurl: config.apiurl,
            }
        },
        watch: {
           notifications() {
                for (var i = 0; i < this.notifications.length; i++)
                {
                    if (this.notifications[i].read == 0)
                    {
                        switch(this.notifications[i].type) {
                            case 'upload':
                                this.notifications_uploads.push(this.notifications[i]);
                                this.notifications_uploads_count++;
                                break;
                            case 'follow':
                                this.notifications_follows.push(this.notifications[i]);
                                this.notifications_follows_count++;
                                break;
                            case 'collection':
                                this.notifications_collections.push(this.notifications[i]);
                                this.notifications_collections_count++;
                                break;
                            case '': default: break;
                        }
                    }
                }
            },
            notifications_uploads() {
                console.log(this.notifications_uploads[0].read);
            }
        },
        methods: {
            deleteItem(item) {
                item.read = true;
                switch(item.type) {
                    case 'upload':
                        this.notifications_uploads_count--;
                        break;
                    case 'follow':
                        this.notifications_follows_count--;
                        break;
                    case 'collection':
                        this.notifications_collections_count--;
                        break;
                    case '': default: break;
                }

                var params = new FormData();
                var that = this;
                params.append('id', item.id);
                params.append('user_id', JSON.parse(localStorage.getItem('user'))[0].id);
                axios.post(config.apiurl + '/api/notifications/read', params);
            }
        },
        mounted() {
            if (localStorage.getItem('user'))
            {
                this.loggedIn = true;
                var __user = JSON.parse(localStorage.getItem('user'))[0];
                axios.get(config.apiurl + '/api/notifications/user/' + __user.id + '/full').then(response => this.notifications = response.data);
            }
        }
    }
</script>
