<template id="view">
    <main class="uploads_tags">
        <aside>
            <h1>Viewing #{{ $route.params.tag }}</h1>
            <h2 v-if="totalItems == 1000">Loading...</h2>
            <h2 v-if="totalItems == 0">We couldn't find anything public with that tag.</h2>

            <gallery v-for="item in filteredItems" :item="item" :key="item.id"></gallery>
        </aside>
    </main>
</template>

<script>
    import Gallery from './../tags/Gallery.vue';
    import config from './../../config.js';

    export default {
        name: 'tags',
        components: { Gallery },
        data () {
            return {
                items: [],
                totalItems: 1000
            }
        },
        watch: {
            items() {
                console.log(this.items);
            },
            totalItems() {
                console.log(this.totalItems);
            }
        },
        methods: {
            
        },
        mounted() {
            axios.get(config.apiurl + '/api/uploads/tag/' + this.$route.params.tag)
                .then(response => this.items = response.data[0].uploads);
        },
        computed: {
            filteredItems() {
                var newItems = [];
                this.totalItems = false;
                for (var i = 0; i < this.items.length; i++)
                {
                    if (this.items[i].private == 0)
                    {
                        // Show it
                        newItems.push(this.items[i]);
                        this.totalItems++;
                    }
                }

                return newItems;
            }
        }
    }
</script>
