<template id="view">
    <main>
        <div id="darkness" v-if="result != ''">
            <div class="login__section">
                <form>
                    <span v-html="result"></span>
                    <router-link v-if="newid != ''" :to="'/view/' + newid[0].name.split(' ').join('-').toLowerCase() + '-' + newid[0].id">Take me to my new upload!</router-link>
                    <input type="submit" @click="result = ''" value="Okay">
                </form>
            </div>
        </div>

        <form action="upload.php" method="post" enctype="multipart/form-data">
            <div class="upload">
                <section class="upload__part">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" placeholder="Name" required="" v-model="t_name">
                </section>

                <section class="upload__part">
                    <label for="artist">Original artist</label>
                    <input id="artist" name="artist" type="text" placeholder="Original artist (optional)" required="" v-model="t_artist">
                    <input id="uploader" name="uploader" :value="username" type="hidden" required="" v-model="t_uploader">
                </section>

                <section class="upload__part">
                    <label for="tags">Tags</label>
                    <input id="tags" name="tags" type="text" placeholder="Tags (seperate with spaces)" required="" v-model="t_tags">
                </section>

                <section class="upload__part">
                    <input id="private" name="private" type="checkbox" value="1" v-model="t_private">
                    <label for="private">Private</label>
                </section>

                <section class="upload__part">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" type="text" placeholder="Description" required="" v-model="t_description"></textarea>
                </section>

                <section class="upload__part">
                    <label for="image">Image</label>
                    <input id="image" name="image" type="file" required="" v-on:change="inputImage">
                </section>

                <section class="upload__part">
                    <input type="submit" @click="upload">
                    <!-- <router-link v-if="username == 'Shibara'" to="/upload/mass">Mass upload files</router-link> -->
                </section>
            </div>
        </form>

        <div class="upload__preview"><img :src="t_image"></div>
    </main>
</template>

<script>
    import config from './../../config.js';
    
    export default {
        name: 'upload',
        components: {  },
        data () {
            return {
                username: JSON.parse(localStorage.getItem('user'))[0].name,
                t_name: '',
                t_artist: '',
                t_uploader: '',
                t_description: '',
                t_private: 0,
                t_image: '',
                t_tags: '',
                image: '',
                result: '',
                newid: ''
            }
        },
        watch: {
        },
        methods: {
            inputImage(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.image = files[0].name;
                this.createImage(files[0]);
            },
            createImage(file) {
              var image = new Image();
              var reader = new FileReader();
              var vm = this;

              reader.onload = (e) => {
                vm.t_image = e.target.result;
              };

              reader.readAsDataURL(file);
            },
            upload(e) {
                e.preventDefault();

                // Do a post
                var params = new FormData();
                var that = this;
                params.append('name', this.t_name);
                params.append('artist', this.t_artist);
                params.append('image', document.querySelector('#image').files[0]);
                params.append('description', this.t_description);
                params.append('tags', this.t_tags.toLowerCase());
                params.append('private', (this.t_private) ? 1 : 0);
                params.append('uploader', JSON.parse(localStorage.getItem('user'))[0].name);
                axios.post(config.apiurl + '/api/uploads', params).then(function (response) {

                    that.result =  true;
                    that.result =  '<h1>Success</h1><p style="color: black">Your image has been uploaded!</p>';
                    that.newid = response.data;

                    that.t_name = '';
                    that.t_artist = '';
                    that.t_uploader = '';
                    that.t_description = '';
                    that.t_private = '';
                    that.t_image = '';
                    that.t_tags = '';

                }).catch(function (error) {
                    that.result =  '<h1>Error</h1><p>Oops, something went wrong!</p>';
                });
            }
        },
        mounted() {
        }
    }
</script>
