<template id="view">
    <main class="user_view">
        <div id="darkness" v-if="newAvatar && user.name == currentUser.name">
            <div class="login__section" style="overflow: auto; padding-bottom: 20px">
                <form>
                    <h1>Upload a new avatar<br><br></h1>
                    <input id="avatar" type="file" style="cursor: pointer">
                    <input style="width: 48%; margin-right: 4%; float:left" type="submit" @click="uploadAvatar" value="Upload">
                    <input style="width: 48%; float:left" type="submit" @click="newAvatar = false" value="Cancel">
                </form>
            </div>
        </div>

        <div v-if="user.length != 0">
            <section>
                <div @click="newAvatar = true"><avatar size="100" :image="user.avatar" float="left"></avatar></div>
                <h1>{{ user.name }}</h1>
                <h2>joined {{ user.created_at.split(' ')[0] }}</h2>
                <div v-if="user.name != currentUser.name">
                    <a class="follow" @click="followUser">
                        <div v-if="isFollowing == 0"><icon name="eye"></icon><span>Follow</span></div>
                        <div v-if="isFollowing == 1"><icon name="eye-slash"></icon><span>Unfollow</span></div>
                    </a>
                </div> 
            </section>
            <nav>
                <h2>Gallery</h2>
                <collection :class="{current: showing == user.uploads}" @click.native="showCollection(user)" :item="{name: 'Full gallery', uploads: user.uploads}"></collection>
                <h2>Collections</h2>
                <collection v-for="item in filterCollections" :class="{current: showing == item.uploads}" @click.native="showCollection(item, item.name)" :item="item" :key="item.id"></collection>
                <!-- Create collection -->
                <article @click="newCollection" v-if="user.name == currentUser.name" :class="{current: showing == 'making'}">
                    <div class="image"><icon name="plus" scale="2"></icon></div>
                    <h2>Create</h2>
                    <h3>Make a collection</h3>
                </article>
            </nav>
            <aside>
                <div v-if="!making">
                    <h1 v-if="showing != user.uploads">Currently viewing '{{ showingname }}'</h1>
                    <h1 v-if="showing == user.uploads">Currently viewing all of {{ user.name }}s uploads</h1>
                    <h3 v-if="showingDescription != ''">{{ showingDescription }}</h3>
                    <h2 v-if="filteredShowing.length == 0">There appears to be nothing here!</h2>
                    <gallery v-for="item in filteredShowing" :item="item" :key="item.id"></gallery>
                </div>
                <div v-if="making">
                    <h1>Create new collection</h1>
                    <div class="collection_part">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" placeholder="Name" required v-model="col_name">
                    </div>
                    <div class="collection_part">
                        <label for="description">Description</label>
                        <input id="description" name="description"type="text"placeholder="A small description (optional)" v-model="col_description">
                    </div>
                    <div class="collection_part">
                        <input id="private" name="private" type="checkbox" value="1" v-model="col_private">
                        <label for="private">Private</label>
                    </div>
                    <div class="collection_part">
                        <input @click="makeCollection" type="submit">
                    </div>
                </div>
            </aside>
        </div>
        <div v-if="user.length == 0" style="text-align: center;">
            <img src="src/assets/loading.gif">
        </div>
    </main>
</template>

<script>
    import Gallery from './../tags/Gallery.vue';
    import Collection from './../tags/Collection.vue';
    import Avatar from './../tags/Avatar.vue';
    import config from './../../config.js';

    export default {
        name: 'user',
        components: { Gallery, Collection, Avatar },
        data () {
            return {
                user: [],
                collections: [],
                showing: [],
                showingname: '',
                showingDescription: '',
                making: false,
                currentUser: (localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user'))[0] : ' ',
                isFollowing: -1,
                col_name: '',
                col_description: '',
                col_private: 0,
                newAvatar: false,
            }
        },
        watch: {
            $route() {
                location.reload();
            },
            isFollowing() {
                console.log(this.isFollowing);
            }
        },
        computed: {
            filteredShowing() {
                var gallery = this.showing;
                var newGallery = [];
                var _user = (localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user'))[0] : ' ';

                for (var i = 0; i < gallery.length; i++)
                {
                    // Check for private images or is the logged in user the uploader?
                    if (gallery[i].private == 0 || this.user.name == _user.name)
                    {
                        newGallery.push(gallery[i]);
                    }
                }

                return newGallery;
            },
            filterCollections() {
                // Filter the private stuff
                var collections = this.collections;
                var newCollections = [];
                var _user = (localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user'))[0] : ' ';

                for (var i = 0; i < collections.length; i++)
                {
                    // Check for private images or is the logged in user the uploader?
                    if (collections[i].private == 0 || this.user.name == _user.name)
                    {
                        newCollections.push(collections[i]);
                    }
                }

                return newCollections;
            }
        },
        methods: {
            uploadAvatar(e) {
                e.preventDefault();
                
                if (document.querySelector('#avatar').files[0] != undefined)
                {
                    // Do a post
                    var params = new FormData();
                    var that = this;
                    params.append('id', JSON.parse(localStorage.getItem('user'))[0].id);
                    params.append('image', document.querySelector('#avatar').files[0]);
                    axios.post(config.apiurl + '/api/users/avatar', params).then(function (response) { location.reload(); });
                }
            },
            showCollection(item, name) {
                this.showing = item.uploads;
                if (item.description == undefined)
                {
                    this.showingDescription = '';
                }
                else
                {
                    this.showingDescription = item.description;
                }
                this.showingname = item.name;
                this.making = false;
            },
            newCollection() {
                this.making = true;
                this.showing = 'making';
            },
            makeCollection() {
                // Do a post
                var params = new FormData();
                var that = this;

                params.append('name', this.col_name);
                params.append('description', this.col_description);
                params.append('private', this.col_private);
                params.append('username', JSON.parse(localStorage.getItem('user'))[0].name);
                axios.post(config.apiurl + '/api/collections', params)
                    .then(function (response)
                    {
                        if (response.data == 200)
                        {
                            axios.get(config.apiurl + '/api/collections/' + that.$route.params.name).then(response => that.collections = response.data);
                        }
                    }
                );
            },
            followUser() {
                // Do a post
                var params = new FormData();
                var that = this;
                params.append('target_id', this.user.id);
                params.append('user_id', JSON.parse(localStorage.getItem('user'))[0].id);
                params.append('image', JSON.parse(localStorage.getItem('user'))[0].avatar);
                params.append('username', JSON.parse(localStorage.getItem('user'))[0].name);
                axios.post(config.apiurl + '/api/follows', params).then(function (response)
                {
                    console.log(response.data);
                    that.isFollowing = (response.data == 1) ? 0 : 1;
                });
            }
        },
        mounted() {
            var that = this;
            axios.get(config.apiurl + '/api/users/' + this.$route.params.name).then(function (responses) {
                that.user = responses.data[0];
                that.showing = responses.data[0].uploads;
                axios.get(config.apiurl + '/api/follows/' + JSON.parse(localStorage.getItem('user'))[0].id + '/' + that.user.id).then(response => that.isFollowing = response.data);
            });

            axios.get(config.apiurl + '/api/collections/' + this.$route.params.name).then(response => this.collections = response.data);
        }
    }
</script>
