<template id="view">
    <main class="viewing">
        <div v-if="item && !private" class="item">
            <div class="image"><img :src="apiurl + '/gallery/' + item.image"></div>
            <div class="info">
                <div class="header">
                    <div class="names">
                        <avatar size="66" :image="item.avatar" float="left" @click="newAvatar = true"></avatar>
                        <h1>{{ item.name }}</h1>
                        <h2 v-if="item.artist == ''">by <router-link :to="'/user/' + item.uploader.toLowerCase()">{{ item.uploader }}</router-link></h2>
                        <h2 v-if="item.artist != ''">by <router-link :to="'/artist/' + item.artist.toLowerCase()">{{ item.artist }}</router-link>, uploaded by <router-link :to="'/user/' + item.uploader.toLowerCase()">{{ item.uploader }}</router-link></h2>
                    </div>
                    <ul class="tags">
                        <li v-for="tag in item.tags" v-if="tag.name != ''"><router-link :to="'/tags/' + tag.name">#{{ tag.name.toLowerCase() }}</router-link></li>
                    </ul>
                    <p>{{ item.description }}</p>
                    <div class="add_to_collection" v-if="collections.length > 0">
                        <h1>Add to collection</h1>
                        <select @change="addCollection" name="collections" v-model="addingCollection">
                            <option value="-1" disabled>-- Select a collection --</option>
                            <option v-for="col in collections" :value="col.id">{{ col.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="comments">
                <h1>Comments</h1>
                <article v-for="comment in item.ratings">
                    <header>
                        <img class="avatar" :src="comment['avatar']">
                        <h1>{{ comment['username'] }} <span>{{ generateCommentDate(comment['created_at']) }}</span></h1>
                        <stars v-if="comment[2] != -1" :rating="comment[2]"></stars>
                    </header>
                    <p>{{ comment['body'] }}</p>
                </article>
            </div> -->
        </div>
        <div class="private_blocked" v-if="private">
            <img src="src/assets/block.png">
            <h1>Oh no!</h1>
            <h2>You don't have permission to view this upload!</h2>
        </div>
        <div v-if="!item" class="loading">
            <img src="src/assets/loading.gif">
        </div>
    </main>
</template>

<script>
    import Stars from './../tags/Stars.vue';
    import Avatar from './../tags/Avatar.vue';
    import config from './../../config.js';

    export default {
        name: 'view',
        components: { Stars, Avatar },
        data () {
            return {
                routeId: this.$route.params.id.split('-')[this.$route.params.id.split('-').length - 1],
                item: false,
                collections: [],
                addingCollection: -1,
                private: false,
                apiurl: config.apiurl
            }
        },
        watch: {
            collections() {
                console.log(this.collections);
            },
            item() {
                if (this.item.private == 1)
                {
                    if (localStorage.getItem('user'))
                    {
                        if (JSON.parse(localStorage.getItem('user'))[0].name != this.item.uploader)
                        {
                            this.private = true;
                        }
                    }
                    else
                    {
                        this.private = true;
                    }
                }
            },
            $route() {
                location.reload();
            }
        },
        methods: {
            generateCommentDate(date) {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; // January is 0
                var yyyy = today.getFullYear();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                if (dd < 10) { dd = '0' + dd; } 
                if (mm < 10) { mm = '0' + mm; } 
                today = yyyy + '-' + mm + '-' + dd;

                // Is it today?
                if (date.split(' ')[0] == today)
                {
                    var difference = Math.round(Math.abs(new Date(today + ' ' + h + ':' + m + ':' + s) - new Date(date)) / 36e5);
                    return difference + ' hour' + ((difference < 2) ? '' : 's') + ' ago';
                }
                else
                {
                    // TODO
                }
            },
            addCollection() {
                if (this.addingCollection != -1)
                {
                    var params = new FormData();
                    params.append('upload_id', this.routeId);
                    params.append('collection_id', this.addingCollection);

                    var __user = JSON.parse(localStorage.getItem('user'))[0];
                    params.append('username', __user.name);
                    params.append('uploadname', this.item.name);
                    params.append('image', __user.avatar);
                    params.append('targetname', this.item.uploader.toLowerCase());

                    axios.post(config.apiurl + '/api/collections/addtocollections', params)
                        .then(function (response)
                        {
                            if (response.data == 200)
                            {
                                console.log('success');
                            }
                        }
                    );
                }
            }
        },
        mounted() {
            axios.get(config.apiurl + '/api/uploads/' + this.routeId).then(response => this.item = response.data[0]);
            if (localStorage.getItem('user') != undefined)
            {
                var that = this;
                axios.get(config.apiurl + '/api/collections/' + JSON.parse(localStorage.getItem('user'))[0].name).then(function (response) {
                    // Check for duplicates
                    var array = [];
                    for (var i = 0; i < response.data.length; i++)
                    {
                        var okay = true;

                        // Look for the upload
                        for (var a = 0; a < response.data[i].uploads.length; a++)
                        {
                            if (response.data[i].uploads[a].id == that.routeId)
                            {
                                okay = false;
                            }
                        }

                        if (okay)
                        {
                            array.push(response.data[i]);
                        }
                    }

                    that.collections = array;
                });
            }
        }
    }
</script>

<style lang="css" scoped>
    body header .header {
        display: none;
    }
</style>
