* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSans.ttf); }
@font-face {
  font-family: GillSansBold;
  src: url(../fonts/GillSansBold.ttf); }
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/GillSansLight.ttf); }
@keyframes loaded {
  0% {
    width: 316px;
    height: 316px;
    margin-top: -20px;
    margin-left: -20px;
    opacity: 1; }
  50% {
    width: 262px;
    height: 262px;
    margin-top: 4px;
    margin-left: 4px; }
  100% {
    width: 276px;
    height: 276px;
    opacity: .8; } }
@keyframes zoom-little {
  0% {
    opacity: .8; }
  100% {
    width: 316px;
    height: 316px;
    margin-top: -20px;
    margin-left: -20px;
    opacity: 1; } }
@keyframes header-loaded {
  0% {
    margin-top: -410px; }
  100% {
    margin-top: 0px; } }
.hidden, .ifLoggedIn, .ifNotLoggedIn {
  display: none; }

.spotlight {
  width: 100%;
  height: 100vh;
  padding: 2vh 10%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .spotlight img {
    max-height: 96vh;
    max-width: 100%; }
  .spotlight span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white; }

#darkness {
  width: 100%;
  height: 100vh;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }
  #darkness .hidden {
    display: none; }
  #darkness .login__section,
  #darkness .register__section {
    width: 500px;
    min-height: 200px;
    margin: 100px auto;
    background: white; }
    #darkness .login__section .logging_in,
    #darkness .register__section .logging_in {
      padding-top: 50px;
      text-align: center;
      font-family: "GillSans", Arial, sans-serif; }
    #darkness .login__section form,
    #darkness .register__section form {
      padding: 30px;
      position: relative; }
      #darkness .login__section form p,
      #darkness .register__section form p {
        font-family: "GillSans", Arial, sans-serif;
        padding-top: 12px;
        text-align: center;
        color: red; }
      #darkness .login__section form a,
      #darkness .register__section form a {
        text-align: center;
        width: 100%;
        color: #7899b7;
        font-family: "GillSans", Arial, sans-serif;
        display: block;
        padding: 10px; }
      #darkness .login__section form h1,
      #darkness .register__section form h1 {
        font-size: 1.5rem;
        text-align: center;
        font-family: "GillSansBold", Arial, sans-serif; }
      #darkness .login__section form h2,
      #darkness .register__section form h2 {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        opacity: .2; }
      #darkness .login__section form h2:hover,
      #darkness .register__section form h2:hover {
        opacity: .8;
        cursor: pointer; }
      #darkness .login__section form input,
      #darkness .register__section form input {
        width: 100%;
        font-size: 1.1rem;
        font-family: "GillSansLight", Arial, sans-serif;
        padding: 10px;
        border: 0;
        outline-color: transparent;
        outline-style: none;
        border-bottom: 5px solid transparent;
        background: #f3f3f3;
        margin-top: 20px; }
      #darkness .login__section form input:focus, #darkness .login__section form input:hover,
      #darkness .register__section form input:focus,
      #darkness .register__section form input:hover {
        outline-color: transparent;
        outline-style: none;
        border-bottom: 5px solid #c1b9ac;
        transition: all 0.1s; }
      #darkness .login__section form input[type="submit"],
      #darkness .register__section form input[type="submit"] {
        font-family: "GillSansBold", Arial, sans-serif;
        cursor: pointer;
        background: #ebebeb; }

#darkness.hidden {
  display: none; }

#loading {
  width: 100%;
  height: 100vh;
  z-index: 100000;
  position: fixed;
  background: white;
  text-align: center;
  padding-top: 22vh; }
  #loading h1 {
    font-family: "GillSansBold", Arial, sans-serif;
    font-size: 3rem; }

.upload__preview {
  width: 50%;
  float: left;
  padding-left: 50px;
  padding-top: 10px;
  text-align: center; }
  .upload__preview img {
    max-width: 100%;
    max-height: 68.5vh; }

.collection_part {
  margin-top: 20px;
  overflow: auto; }
  .collection_part label {
    display: block;
    float: left;
    width: 150px;
    font-family: "GillSans", Arial, sans-serif;
    padding: 12px 0; }
  .collection_part input[type="text"] {
    float: left;
    width: calc(100% - 150px); }
  .collection_part input[type="submit"] {
    float: left;
    width: 50%;
    cursor: pointer; }
  .collection_part input[type="checkbox"] {
    margin: 12px;
    width: auto; }

.tags {
  width: 100%;
  padding-top: 15px; }
  .tags .tags__tag {
    font-family: "GillSans", Arial, sans-serif;
    float: left;
    padding: 10px;
    font-size: 1.1rem;
    margin: 0 10px 10px 0;
    background: #f7f7f7; }
  .tags .tags__tag:hover {
    background: #ebebeb;
    cursor: pointer; }

.tags__holder {
  position: relative; }
  .tags__holder #tags__placeholder {
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: -100;
    top: 0;
    background: #f7f7f7; }
    .tags__holder #tags__placeholder p {
      font-family: "GillSansLight", Arial, sans-serif;
      display: block;
      padding: 12px 10px;
      font-size: 1.1rem;
      width: 100%;
      height: 44px;
      color: #adadad; }

input, textarea {
  width: 100%;
  font-size: 1.1rem;
  font-family: "GillSansLight", Arial, sans-serif;
  padding: 10px;
  border: 0;
  outline-color: transparent;
  outline-style: none;
  border-bottom: 5px solid white;
  background: #f7f7f7; }

input:focus, input:hover,
textarea:focus, textarea:hover {
  outline-color: transparent;
  outline-style: none;
  border-bottom: 5px solid #c1b9ac;
  transition: all 0.1s; }

form section {
  margin-bottom: 20px; }

header {
  background: #c1b9ac; }
  header nav {
    background: #c1b9ac;
    display: flex;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    height: 75px; }
    header nav h2 {
      font-family: "GillSansBold", Arial, sans-serif;
      font-size: 1.5rem;
      color: white;
      letter-spacing: 0.8rem; }
      header nav h2 a {
        color: white;
        text-decoration: none; }
    header nav ul {
      margin-left: auto;
      position: relative; }
      header nav ul > li {
        float: left;
        display: flex;
        height: 45px;
        margin-left: 10px; }
        header nav ul > li a {
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          font-family: "GillSans", Arial, sans-serif;
          padding: 12px;
          transition: all 170ms ease-in-out;
          cursor: pointer;
          display: block;
          /*line-height: 30px;*/ }
        header nav ul > li .avatar {
          width: 40px;
          height: 40px;
          margin-left: 5px;
          vertical-align: middle;
          margin-top: -10px;
          margin-right: -10px;
          float: right; }
        header nav ul > li a:hover {
          color: black; }
      header nav ul li.break {
        width: 30px; }
      header nav ul a.button__login,
      header nav ul a.button__logout {
        border: 3px solid white;
        cursor: pointer;
        padding: 8px 20px 12px; }
      header nav ul a.button__login:hover,
      header nav ul a.button__logout:hover {
        background: black;
        border: 3px solid black;
        color: white; }
    header nav ul > ul.dropdown {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 45px;
      width: 100%;
      transition: all 0.3s;
      background: #ada598; }
      header nav ul > ul.dropdown li {
        width: 100%; }
        header nav ul > ul.dropdown li a {
          width: 100%;
          text-align: center; }
    header nav li.dropdown {
      position: relative; }
      header nav li.dropdown .avatar {
        margin-right: -5px; }
      header nav li.dropdown a span {
        display: block;
        padding: 5px;
        color: black;
        background: lightcoral;
        width: auto;
        min-width: 29px;
        text-align: center;
        position: absolute;
        top: -10px;
        right: -12px;
        border-radius: 50%;
        z-index: 1000; }
      header nav li.dropdown ul {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        background: #ada598;
        transition: all 0.3s; }
        header nav li.dropdown ul li {
          margin: 0;
          width: 100%;
          text-align: center; }
          header nav li.dropdown ul li a {
            width: 100%; }
    header nav li.dropdown:hover ul {
      max-height: 200px; }
  header .header {
    width: 100%;
    height: 410px;
    background-image: url("../header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*animation-name: header-loaded;*/
    animation-duration: 3s;
    animation-fill-mode: forwards; }
    header .header h1 {
      color: white;
      font-size: 3rem;
      font-family: "GillSansLight", Arial, sans-serif;
      text-align: center;
      letter-spacing: 0.7rem;
      text-shadow: 0 0 3px #000000, 0 0 5px #000000; }

footer {
  width: 100%;
  height: 100px;
  background: #c1b9ac; }

main {
  width: 1140px;
  min-height: 750px;
  margin: 30px auto;
  overflow: auto; }
  main nav {
    width: 232px;
    float: left;
    transition: all 250ms;
    margin-right: 20px; }
    main nav #tags, main nav #_tags {
      margin-bottom: 10px; }
    main nav h2 {
      padding-bottom: 20px;
      font-size: 1.2rem;
      font-family: "GillSansBold", Arial, sans-serif; }
    main nav ul li, main nav ul input {
      font-family: "GillSans", Arial, sans-serif; }
    main nav ul li {
      margin-bottom: 10px;
      overflow: auto; }
      main nav ul li label {
        width: calc(100% - 21px);
        overflow: hidden;
        text-decoration: none;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 170ms ease-in-out;
        float: left; }
      main nav ul li span {
        border-width: 36px;
        float: left;
        width: 0;
        height: 0;
        display: block;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 21px solid transparent;
        transition: border 170ms ease-in-out; }
      main nav ul li input[type="checkbox"] {
        display: none; }
      main nav ul li input[type="checkbox"] + label {
        display: block; }
      main nav ul li input[type="checkbox"]:checked + label {
        background: #f5f0e8; }
        main nav ul li input[type="checkbox"]:checked + label + span {
          border-left: 20px solid #f5f0e8; }
  main aside, main .user_view_uploads {
    width: 888px;
    float: right; }
    main aside h1, main .user_view_uploads h1 {
      padding: 10px 0 20px;
      font-size: 1.2rem;
      font-family: "GillSansBold", Arial, sans-serif; }
    main aside h2, main .user_view_uploads h2 {
      padding: 0;
      font-size: 1rem;
      font-family: "GillSans", Arial, sans-serif; }
    main aside .loading, main .user_view_uploads .loading {
      width: 20%;
      margin: 0 40%; }
    main aside article, main .user_view_uploads article {
      width: 276px;
      height: 276px;
      overflow: hidden;
      margin: 0 20px 20px 0;
      float: left;
      position: relative; }
      main aside article .image, main .user_view_uploads article .image {
        width: 276px;
        height: 276px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: .8;
        animation-name: loaded;
        animation-duration: 0.4s;
        animation-fill-mode: forwards; }
      main aside article h2, main .user_view_uploads article h2 {
        color: black;
        position: absolute;
        bottom: 20px;
        right: 20px;
        opacity: 0.5;
        padding: 0 5px; }
        main aside article h2 > span, main .user_view_uploads article h2 > span {
          /*display: none;*/
          position: absolute;
          bottom: 0;
          right: 31px;
          max-width: 0;
          overflow: hidden;
          height: 35px;
          text-align: right;
          background: #c1b9ac;
          padding: 10px 0;
          transition: all 0.3s; }
        main aside article h2:hover, main .user_view_uploads article h2:hover {
          opacity: 1;
          background: #c1b9ac; }
          main aside article h2:hover span, main .user_view_uploads article h2:hover span {
            display: block;
            max-width: 100px;
            padding: 10px; }
      main aside article .large, main .user_view_uploads article .large {
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0;
        z-index: 100;
        transition: all 0.4s;
        color: white;
        text-decoration: none;
        cursor: pointer;
        display: block;
        padding: 5px;
        border: 2px solid #c1b9ac;
        font-family: "GillSans", Arial, sans-serif;
        background: rgba(0, 0, 0, 0.5); }
      main aside article .large:hover, main .user_view_uploads article .large:hover {
        opacity: 1;
        color: black;
        background: #c1b9ac; }
    main aside article:hover .image, main .user_view_uploads article:hover .image {
      opacity: 1;
      animation-name: zoom-little;
      animation-duration: 0.3s;
      animation-fill-mode: forwards; }
    main aside article:hover .large, main .user_view_uploads article:hover .large {
      opacity: 1; }

.uploads_tags aside {
  width: 1140px;
  float: none; }
  .uploads_tags aside article {
    width: 270px;
    height: 270px; }
  .uploads_tags aside article:nth-of-type(4n) {
    margin-right: 0; }

div.upload {
  width: 50%;
  float: left; }
  div.upload section.upload__part label {
    width: 100%;
    font-size: 1.1rem;
    font-family: "GillSansBold", Arial, sans-serif;
    padding: 10px;
    padding-left: 0;
    display: block; }
  div.upload section.upload__part input, div.upload section.upload__part textarea {
    width: 100%;
    font-size: 1.1rem;
    font-family: "GillSansLight", Arial, sans-serif;
    padding: 10px;
    border: 0;
    outline-color: transparent;
    outline-style: none;
    border-bottom: 5px solid transparent;
    background: #f7f7f7; }
  div.upload section.upload__part textarea {
    min-height: 250px;
    max-height: 250px;
    min-width: 100%;
    max-width: 100%;
    resize: none; }
  div.upload section.upload__part input:focus, div.upload section.upload__part input:hover,
  div.upload section.upload__part textarea:focus, div.upload section.upload__part textarea:hover {
    outline-color: transparent;
    outline-style: none;
    border-bottom: 5px solid #c1b9ac;
    transition: all 0.1s; }
  div.upload section.upload__part input[type="submit"] {
    font-family: "GillSansBold", Arial, sans-serif;
    cursor: pointer;
    background: #ebebeb; }
  div.upload section.upload__part input[type="checkbox"] {
    width: 15px; }
  div.upload section.upload__part input[type="checkbox"] + label {
    font-family: "GillSans", Arial, sans-serif;
    float: right;
    width: calc(100% - 30px);
    padding-left: 0;
    padding-top: 1px; }

.comments > h1 {
  font-family: "GillSansBold", Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px; }
.comments article {
  margin-bottom: 20px; }
  .comments article p {
    font-family: "GillSans", Arial, sans-serif;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb; }
  .comments article header {
    height: 50px;
    width: 100%; }
    .comments article header img.avatar, .comments article header div.stars {
      float: left; }
    .comments article header img.avatar {
      width: 50px;
      height: 50px; }
    .comments article header div.stars {
      position: relative;
      height: 20px;
      width: 100px;
      margin-top: 5px;
      margin-left: 7px; }
      .comments article header div.stars h2, .comments article header div.stars h3, .comments article header div.stars img {
        position: absolute;
        left: 0;
        top: 0; }
      .comments article header div.stars h2 {
        height: 20px;
        background: #d4ae65; }
      .comments article header div.stars h3 {
        height: 20px;
        width: 100px;
        background: #d0d0d0; }
    .comments article header h1, .comments article header h2 {
      width: calc(100% - 50px);
      padding-left: 10px;
      padding-top: 4px;
      float: left;
      font-family: "GillSans", Arial, sans-serif;
      font-size: 1.2rem; }
      .comments article header h1 span, .comments article header h2 span {
        opacity: 0.5;
        font-family: "GillSansLight", Arial, sans-serif; }

.private_blocked {
  text-align: center; }
  .private_blocked img {
    width: 30%;
    margin: 50px 0; }
  .private_blocked h1, .private_blocked h2 {
    font-family: "GillSansBold", Arial, sans-serif;
    font-size: 4rem; }
  .private_blocked h2 {
    padding-top: 20px;
    color: darkred;
    font-size: 1.5rem; }

.viewing .loading img {
  width: 20%;
  margin: 40px 40%; }
.viewing .add_to_collection {
  overflow: auto;
  width: 40%;
  float: left;
  padding: 20px;
  text-align: right; }
  .viewing .add_to_collection h1 {
    padding: 0 20px 10px 0;
    font-family: "GillSans", Arial, sans-serif; }
  .viewing .add_to_collection select {
    padding: 10px;
    font-family: "GillSansLight", Arial, sans-serif;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 10px;
    border: 0;
    outline-color: transparent;
    outline-style: none;
    border-bottom: 5px solid transparent;
    background: #f7f7f7; }
    .viewing .add_to_collection select:hover {
      border-bottom: 5px solid #c1b9ac; }
.viewing .item div.image {
  text-align: center;
  padding-bottom: 40px; }
  .viewing .item div.image img {
    max-height: 80vh;
    max-width: 100%; }
.viewing .item .info {
  margin-bottom: 150px;
  overflow: auto; }
  .viewing .item .info .header .names {
    margin-bottom: 10px; }
    .viewing .item .info .header .names h1, .viewing .item .info .header .names h2 {
      font-size: 2rem;
      font-family: "GillSansBold", Arial, sans-serif;
      padding-bottom: 5px;
      width: calc(100% - 66px);
      padding-left: 80px; }
    .viewing .item .info .header .names h1 {
      padding-top: 3px; }
    .viewing .item .info .header .names h2 {
      font-size: 1.2rem;
      font-family: "GillSans", Arial, sans-serif; }
      .viewing .item .info .header .names h2 a {
        color: #7899b7; }
    .viewing .item .info .header .names img {
      float: left;
      width: 66px;
      height: 66px; }
  .viewing .item .info .header ul.tags {
    padding: 0;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ebebeb; }
    .viewing .item .info .header ul.tags li {
      display: block;
      float: left;
      padding: 0 10px 10px 0;
      font-family: "GillSans", Arial, sans-serif; }
      .viewing .item .info .header ul.tags li a {
        color: #7899b7; }
        .viewing .item .info .header ul.tags li a:hover {
          text-decoration: none; }
  .viewing .item .info .header p {
    padding: 20px 0;
    float: left;
    width: 60%;
    font-family: "GillSans", Arial, sans-serif;
    line-height: 150%; }

main.user_view nav article {
  cursor: pointer;
  margin-bottom: 20px;
  overflow: auto;
  position: relative; }
  main.user_view nav article div.image {
    width: 30px;
    height: 60px;
    background-position: center;
    background-size: cover;
    float: left; }
    main.user_view nav article div.image svg {
      margin-top: 15px;
      margin-left: 0px;
      opacity: 0.2; }
  main.user_view nav article h2, main.user_view nav article h3 {
    width: calc(100% - 30px);
    padding: 0;
    color: black;
    padding: 10px;
    float: left;
    height: 30px; }
  main.user_view nav article h3 {
    padding-top: 2px;
    font-family: "GillSans", Arial, sans-serif; }
  main.user_view nav article .lock {
    opacity: 0.25;
    position: absolute;
    right: 15px;
    top: 15px; }
  main.user_view nav article:hover, main.user_view nav article.current {
    background: #f5f0e8; }
main.user_view section {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  position: relative; }
  main.user_view section img {
    width: 100px;
    height: 100px;
    float: left; }
  main.user_view section h1, main.user_view section h2 {
    width: calc(100% - 100px);
    color: black;
    padding: 5px 10px 0;
    float: left;
    font-family: "GillSansBold", Arial, sans-serif;
    font-size: 4rem; }
  main.user_view section h2 {
    width: calc(100% - 100px);
    font-family: "GillSans", Arial, sans-serif;
    font-size: 1rem; }
  main.user_view section .follow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background: #f5f0e8;
    text-decoration: none;
    cursor: pointer; }
    main.user_view section .follow span {
      font-family: "GillSans", Arial, sans-serif;
      margin-left: 10px;
      display: block; }
    main.user_view section .follow svg {
      margin: 0; }
    main.user_view section .follow svg, main.user_view section .follow span {
      color: black;
      float: left; }
    main.user_view section .follow:hover {
      background: #e6e2dc; }
main.user_view aside h3 {
  padding: 0 0 20px;
  margin-top: -10px;
  font-size: 1rem;
  font-family: "GillSans", Arial, sans-serif; }
main.user_view aside h2 {
  color: darkred; }

main.notifications section {
  margin-bottom: 30px; }
  main.notifications section h1 {
    font-family: "GillSansBold", Arial, sans-serif;
    font-size: 2rem; }
main.notifications nav h2 {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px; }
main.notifications nav h2.active {
  background: #f5f0e8; }
main.notifications aside ul li {
  overflow: auto;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative; }
  main.notifications aside ul li svg {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0; }
  main.notifications aside ul li .small {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    float: left; }
  main.notifications aside ul li h3, main.notifications aside ul li p {
    display: block;
    float: left;
    width: calc(100% - 80px);
    height: 30px;
    padding-top: 15px;
    padding-left: 20px;
    color: black; }
  main.notifications aside ul li h3 {
    font-family: "GillSansBold", Arial, sans-serif;
    font-size: 1.3rem;
    vertical-align: middle; }
  main.notifications aside ul li p {
    font-family: "GillSans", Arial, sans-serif; }
main.notifications aside ul li:hover {
  background: #f5f0e8; }
  main.notifications aside ul li:hover svg {
    opacity: 0.5; }
  main.notifications aside ul li:hover svg:hover {
    opacity: 0.8; }

/*# sourceMappingURL=common.css.map */
