main.notifications {
    section {
        margin-bottom: 30px;

        h1 {
            font-family: $title;
            font-size: 2rem;
        }
    }

    nav {
        h2 {
            cursor: pointer;
            padding: 10px;
            margin-bottom: 10px;
        }

        h2.active {
            background: $light-brown;
        }
    }

    aside {
        ul li {
            overflow: auto;
            display: block;
            margin-bottom: 20px;
            cursor: pointer;
            position: relative;

            svg {
                position: absolute;
                right: 20px;
                top: 20px;
                opacity: 0;
            }

            .small {
                width: 80px;
                height: 80px;
                background-size: cover;
                background-position: center;
                float: left;
            }

            h3, p {
                display: block;
                float: left;
                width: calc(100% - 80px);
                height: 30px;
                padding-top: 15px;
                padding-left: 20px;
                color: black;
            }

            h3 {
                font-family: $title;
                font-size: 1.3rem;
                vertical-align: middle;
            }

            p {
                font-family: $text;
            }
        }

        ul li:hover {
            background: $light-brown;
            svg { opacity: 0.5; }
            svg:hover { opacity: 0.8; }
        }
    }
}
