main.user_view {
    nav {
        article {
            cursor: pointer;
            margin-bottom: 20px;
            overflow: auto;
            position: relative;

            div.image {
                width: 30px;
                height: 60px;
                background-position: center;
                background-size: cover;
                float: left;

                svg {
                    margin-top: 15px;
                    margin-left: 0px;
                    opacity: 0.2;
                }
            }

            h2, h3 {
                width: calc(100% - 30px);
                padding: 0;
                color: black;
                padding: 10px;
                float: left;
                height: 30px;
            }

            h3 {
                padding-top: 2px;
                font-family: $text;
            }

            .lock {
                opacity: 0.25;
                position: absolute;
                right: 15px;
                top: 15px;
            }
        
            &:hover, &.current {
                background: $light-brown;
            }
        }
    }

    section {
        width: 100%;
        height: 100px;
        margin-bottom: 50px;

        img {
            width: 100px;
            height: 100px;
            float: left;
        }

        h1, h2 {
            width: calc(100% - 100px);
            color: black;
            padding: 5px 10px 0;
            float: left;
            font-family: $title;
            font-size: 4rem;
        }

        h2 {
            width: calc(100% - 100px);
            font-family: $text;
            font-size: 1rem;
        }

        position: relative;

        .follow {
            position: absolute;
            top: 0; right: 0;
            padding: 15px;
            background: $light-brown;
            text-decoration: none;
            cursor: pointer;

            span {
                font-family: $text;
                margin-left: 10px;
                display: block;
            }

            svg {
                margin: 0;
            }

            svg, span { color: black; float: left; }

            &:hover {
                background: #e6e2dc;
            }
        }
    }

    aside {
        h3 {
            padding: 0 0 20px;
            margin-top: -10px;
            font-size: 1rem;
            font-family: $text;       
        }

        h2 {
            color: darkred;
        }
    }
}
