.private_blocked {
    text-align: center;

    img {
        width: 30%;
        margin: 50px 0;
    }

    h1, h2 {
        font-family: $title;
        font-size: 4rem;
    }

    h2 {
        padding-top: 20px;
        color: darkred;
        font-size: 1.5rem;
    }
}

.viewing {
    .loading img {
        width: 20%;
        margin: 40px 40%;
    }

    .add_to_collection {
        overflow: auto;
        width: 40%;
        float: left;
        padding: 20px;
        text-align: right;

        h1 {
            padding: 0 20px 10px 0;
            font-family: $text;
        }

        select {
            padding: 10px;
            font-family: $text-light;
            cursor: pointer;

            font-size: 1.1rem;
            padding: 10px;
            border: 0;
            outline-color: transparent;
            outline-style: none;
            border-bottom: 5px solid transparent;
            background: #f7f7f7;

            &:hover {
                border-bottom: 5px solid $brown;
            }
        }
    }

    .item {
        div.image {
            text-align: center;
            padding-bottom: 40px;

            img {
                max-height: 80vh;
                max-width: 100%;
            }
        }

        .info {
            margin-bottom: 150px;
            overflow: auto;

            .header {                
                .names {
                    margin-bottom: 10px;

                    h1, h2 {
                        font-size: 2rem;
                        font-family: $title;
                        padding-bottom: 5px;
                        width: calc(100% - 66px);
                        padding-left: 80px;
                    }

                    h1 {
                        padding-top: 3px;
                    }
                
                    h2 {
                        font-size: 1.2rem;
                        font-family: $text;

                        a { color: $link-blue; }
                    }

                    img {
                        float: left;
                        width: 66px;
                        height: 66px;
                    }
                }

                ul.tags {
                    padding: 0;
                    width: 100%;
                    overflow: auto;
                    border-bottom: 1px solid #ebebeb;

                    li {
                        display: block;
                        float: left;
                        padding: 0 10px 10px 0;
                        font-family: $text;

                        a {
                            color: #7899b7;
                            &:hover { text-decoration: none; }
                        }
                    }
                }

                p {
                    padding: 20px 0;
                    float: left;
                    width: 60%;
                    font-family: $text;
                    line-height: 150%;
                }
            }
        }
    }
}
