<template>
    <div class="avatar">
        <div :style="'float: ' + float + '; background-size: cover; background-position: center; background-image: url(' + apiurl + '/gallery/avatars/' + image + '); width: ' + size + 'px; height: ' + size + 'px;'"></div>
    </div>
</template>

<script>
    import config from './../../config.js';

    export default {
        props: ['size', 'image', 'float'],
        data() {
            return {
                apiurl: config.apiurl
            }
        },
        mounted() {
            
        }
    }
</script>
