<template>
    <article>
        <div :class="'image collection_'+item.id" style="background-image:url(http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif)"></div>
        <h2>{{ item.name }}</h2>
        <h3>{{ countItems(item.uploads) }} uploads</h3>
        <icon v-if="item.private == 'true'" class="lock" name="lock" scale="2"></icon>
    </article>
</template>

<script>
    import config from './../../config.js';

    export default {
        props: ['item', 'id'],
        data() {
            return {
                url: this.item.name.split(' ').join('-').toLowerCase() + '-' + this.item.id,
                loggedInUser: ((localStorage.getItem('user') != undefined)? (JSON.parse(localStorage.getItem('user'))[0].name) : '____'),
            }
        },
        mounted() {
            var img = new Image();
            var imageName = this.item.uploads[this.item.uploads.length - 1];
            var showing = 0;

            // Make sure nothing private is shown!
            for (var i = 0; i < this.item.uploads.length; i++)
            {
                if (this.item.uploads[i].private == 0 || this.$route.params.name.toLowerCase() == this.loggedInUser.toLowerCase())
                {
                    // OK
                    showing = this.item.uploads[i].image;
                    i = this.item.uploads.length;
                }
            }

            if (showing == 0) { showing = 'empty.jpg'; }

            img.src = config.apiurl + '/gallery/' + showing;
            img.onload = function() {
                document.querySelector('.collection_' + this.item.id).style.backgroundImage = 'url(' + img.src + ')';
                document.querySelector('.collection_' + this.item.id).style.opacity = 1;
            }.bind(this);
        },
        methods: {
            countItems(items) {
                var count = 0;

                for (var i = 0; i < items.length; i++)
                {
                    if (items[i].private == 0 || this.$route.params.name.toLowerCase() == this.loggedInUser.toLowerCase())
                    {
                        count++;
                    }
                }

                return count;
            }
        }
    }
</script>
