<template>
    <article>
        <router-link :to="'/view/' + url" replace>
            <div :class="'image upload_' + item.id" style="background-image: url(http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif)">
            </div>
            <h2 v-if="item.private">
                <span>Private</span>
                <icon name="lock" scale="2"></icon>
            </h2>
        </router-link>
    </article>
</template>

<script>
    import config from './../../config.js';

    export default {
        props: ['item', 'id'],
        data() {
            return {
                url: this.item.name.split(' ').join('-').toLowerCase() + '-' + this.item.id
            }
        },
        mounted() {
            var img = new Image();
            img.src = config.apiurl + '/gallery/' + this.item.image;
            img.onload = function() {
                document.querySelector('.upload_' + this.item.id).style.backgroundImage = 'url(' + img.src + ')';
                document.querySelector('.upload_' + this.item.id).style.opacity = 1;
            }.bind(this);
        }
    }
</script>
