<template>
    <div class="stars">
        <h3></h3>
        <h2 :style="'width:' + (rating * 10) + 'px;'"></h2>
        <img class="stars" src="src/assets/stars.png">
    </div>
</template>

<script>
    import config from './../../config.js';
    export default {
        props: ['rating'],
        mounted() {
            
        }
    }
</script>
